.App {
  text-align: center;
}

/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(32, 63, 46);
  color: white;
}

.nav-links {
  width:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* Glossary */
.glossary {
  color: white;
  font-size: 25px;
  margin-top: 10%;
  margin-left: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.glossaryList {
  list-style: none;
  font-weight: bold;
}

/* Sliders */ 
.sliders {
  margin-top: 5%;
  margin-left: 3%;
  justify-content: left;
  align-items: center;
  display: flex;
}

.volume-slider {
  position: relative;
}

.crossfade-slider {
  position: relative;
}

.gain-slider {
  position: relative;
}

/* Controls */
.top-controls {
  display: flex;
  flex-direction: row;
  border: none;
  margin-top: 1%;
}

.first-divider {
  visibility: hidden;
}

.second-divider {
  visibility: hidden;
}

.third-divider {
  visibility: hidden;
}
.upload {
  justify-content: space-between;
  display: flex;
  height: 45px;
  border-radius: 15px;
  background-color: #135832;
  color: white;
}

.save {
  height: 45px;
  width: 69px;
  border-radius: 15px;
  background-color: #135832;
  color: white;
}

/* Control buttons */
.previous-button {
  /* border-radius: 15px; */
  background-color: #135832;
  border-color: black;
}

.play-button {
  /* border-radius: 15px; */
  background-color: #135832;
  border-color: black;
}

.pause-button {
  /* border-radius: 15px; */
  background-color: #135832;
  border-color: black;
}

.next-button {
  /* border-radius: 15px; */
  background-color: #135832;
  border-color: black;
}