.App {
  text-align: center;
}

/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  /* background: rgb(32, 63, 46); */
  color: white;
  background-image: linear-gradient(to right,#02AAB0 0,#00CDAC 100%) !important;
}

.nav-links {
  width:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border-bottom-style: none;
}

/* Glossary */
.glossary {
  color: white;
  font-size: 15px;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

#glossary-wrapper {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

/* Sliders */ 
.sliders {
  margin-top: 5%;
  margin-left: 3%;
  justify-content: left;
  align-items: center;
  display: block;
}

.volume-slider {
  position: relative;
}

.crossfade-slider {
  position: relative;
}

.gain-slider {
  position: relative;
}

.knobs {
  display: flex;
  flex-direction: row;
  margin-left: 1.5%;
  margin-top: 2%;
  align-items: center;
}

/* Controls */

.audio-controls {
  margin-top: 1%;
  margin-left: 3%;
  flex-direction: row;
  display: flex;
}
.top-controls {
  display: flex;
  flex-direction: row;
  border: none;
}

.editor-divider-1 {
  visibility: hidden;
}

.upload-divider-1 {
  visibility: hidden;
}

.editor-divider-2 {
  visibility: hidden;
}

.upload-button {
  justify-content: space-between;
  display: flex;
  height: 20px;
  background-color: #02AAB0;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.upload-track {
  display: flex;
  flex-direction: row;
}

::-webkit-file-upload-button {
  background-color: #02AAB0;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.choose-track {
  width:190px;
  color: white; 
  font-size: 13px;
}

/* Control buttons */
.previous-button {
  background-image: linear-gradient(to bottom,rgb(89, 98, 99) 0,rgb(153, 163, 161) 100%);
  border: none;
}

.previous-button:focus {
  outline: none;
}

.previous-button:hover {
  background-color: rgb(161, 161, 161);
}

.previous-button:active {
  background-color: rgb(139, 137, 137);
  transform: translateY(1px);
}

.play-button {
  background-image: linear-gradient(to bottom,rgb(89, 98, 99) 0,rgb(153, 163, 161) 100%);
  border: none;
}
.play-button:focus {
  outline: none;
}

.play-button:hover {
  background-color: rgb(139, 137, 137);
}

.play-button:active {
  background-color: rgb(139, 137, 137);
  transform: translateY(1px);
}

.pause-button {
  background-image: linear-gradient(to bottom,rgb(89, 98, 99) 0,rgb(153, 163, 161) 100%);
  border: none;
}

.pause-button:focus {
  outline: none;
}

.pause-button:hover {
  background-color: rgb(139, 137, 137);
}

.pause-button:active {
  background-color: rgb(139, 137, 137);
  transform: translateY(1px);
}

.next-button {
  background-image: linear-gradient(to bottom,rgb(89, 98, 99) 0,rgb(153, 163, 161) 100%);
  border: none;
}

.next-button:focus {
  outline: none;
}

.next-button:hover {
  background-color: rgb(139, 137, 137);
}

.next-button:active {
  background-color: rgb(139, 137, 137);
  transform: translateY(1px);
}